.columns > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 10px 10px 10px;
  background-color: #FFFFFF;
  font-color: #005522;
  font-size: var(--body-font-size-xs);
}

.columns img {
  /*width: 100%;*/
  width: 50%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div strong {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #00CC99;
  font-color: #005522;
  font-size: var(--body-font-size-s);
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
